$lighter-main: #0b92e6;
$color-dark: #222;
$color-grey: #6d6c6c;
$color-lightgrey: #dbdbdb;
$color-smoke: #f6f6f6;
$color-blue: #0070ba;

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
// @import "global";
// @import "utilities";


@import "../components/product/filter";
@import "../components/product/SpecificationPanel";
@import "../components/product/BuyBoxSide";
@import "../components/product/BuyBoxBottom";

@import "../components/product/sortContainer";
@import "../components/product/not_fount";
@import "../components/product/productPageGPT";
@import "../components/product/ImageGallerySlider";

@import "../components/Comment/SuccessMessage";

@import "../components/Comment/CommentList";


@import "../components/Comment/CommentTab";
@import "../components/shop/breadCrums-container";
@import "../components/product/product";

@import "../components/shop/CategoryTree";
@import "../components/shop/breadCrums-container";
