/* src/components/GridComponent.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

// input[type="text"],
// input[type="number"] {
//   padding: 8px;
//   margin: 0 10px;
//   width: 150px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
}

// button:not([type="submit"]) {
//   background-color: #f44336;
//   color: rgb(0, 0, 0);
//   margin-left: 5px;
// }

button[type="submit"]:hover,
button:not([type="submit"]):hover {
  opacity: 0.9;
}

/* src/components/DynamicGridComponent.css */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.pagination-container button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination-container button.active {
  background-color: #007bff;
  color: rgb(34, 34, 34);
  border-color: #007bff;
}

.pagination-container button:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  border-color: #e9ecef;
  cursor: not-allowed;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #0056b3;
  color: white;
}
.cat-filter-container {
  padding: 10px;
  display: none !important;
  flex-wrap: wrap;
  gap: 8px;
  // grid-template-columns: repeat(3, 1fr); /* در نمای دسکتاپ هر فیلتر یک سوم عرض */
  @media (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr); /* در نمای دسکتاپ هر فیلتر یک سوم عرض */
  }
}

.cat-filter-container.open {
  display: flex !important; /* وقتی که فیلترها باز می‌شوند، نمایش داده می‌شوند */
}

.cat-filter-item {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 150px; /* مقدار اولیه برای موبایل */
  //max-width: 300px; /* مقدار محدود کننده */
}
.cat-grid-toolbar{
  padding: 10px;
}
/* استایل دکمه */
.filter-button {
  padding: 10px 15px;
  background-color: #b67701; /* رنگ پس‌زمینه */
  color: white; /* رنگ متن */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* نشانگر ماوس به شکل دست */
}
.filter-button:hover {
  background-color: #ffa601; /* رنگ پس‌زمینه هنگام هاور */
}