.nav-container{
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: .5rem 3rem .5rem 3rem;
    background-color: white;
    border-bottom: 1px solid rgb(211, 211, 211);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.header-second{
    width: 100%;
    max-width: 1900px;
    margin: auto;
    flex: 1;
    @media (max-width: 850px) {
        display: none;
    }
    @include flex(flex-start, center, row);
   
    a h1{
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    
}

.header-second-tools{
    flex: 1;
    @include flex(flex-end, flex-end, row);
    // svg{
    //     padding: 0.5rem;
    // }
}

.svg-icon{
    height: 40px;
    width: 35px;
    position: relative;
    @include flex(center, center, row);
    span{
        @include flex(center, center, row);
        z-index: 300;
        top: 10%;
        right: 0;
        border: 2px solid white;
        height: 18px;
        width: 18px;
        text-align: center;
        border-radius: 50%;
        background: $color-blue;
        color: white;
        font-size: 0.6rem;
        position: absolute;
    }
}

.header-first{
    display: flex;
    width: 100%;
    margin: auto;
    width: 100%;
    max-width: 1900px;
    align-items: center;
    flex-direction: row;
    height: 50px;

    // @media (max-width: 850px) {
    //     padding:0;
    // }
}

.header-first-logo{
    object-fit:"contain";
    margin-left: 2rem;
    @media (max-width: 850px) {
        display: none;
    }
}

.header-second-menu{
    display: flex;
    width: 100%;
    margin: auto;
    width: 100%;
    max-width: 1900px;
    height: 50px;
}


  .header-first-search{
    @media (max-width: 850px) {
        width: 100%;
        max-width: 850px;
    }
    .input-wrapper{
        background-color: #eeeeee;
        border-radius: 10px;
        border: none;
        width: 500px;
        max-width: 600px;
        margin: auto;
        height: 40px;
        align-items: center;
        @media (max-width: 850px) {
            width: 100%;
            max-width: 850px;
            
        }
        svg{
            height: 18px;
            padding-right: 1rem ;
            color: #666666;
        }
        input{
            background-color: #eeeeee;

            width: 100%;
            border-radius: 10px;
            height: 40px;
            font-size: 16px;
            padding-right: 3rem;
        }
        input:focus {
            /* استایل‌هایی که برای وضعیت focus (و همچنین focus-visible در برخی موارد) تعریف می‌شود */
            outline: none; /* مثال: حذف اوت لاین در وضعیت فوکوس */
            border-color: blue; /* به عنوان مثال */
            box-shadow: 0 0 3px rgba(0, 0, 255, 0.5); /* به عنوان مثال */
          }
    }
    &.active{
        display: block;
    }
  }

  
  .header-line{
    height: 1px;
    background: $color-lightgrey;
    &.active{
        display: none;
    }
  }

  .category-title {
    font-size: 16px; /* Font size for main categories */
    color: #333; /* Gray color */
  }
  
  .subcategory-link {
    font-size: 14px; /* Font size for subcategories */
    color: #333; /* Gray color */
  }
  
  /* Hamburger icon */
  .hamburger-icon {
    cursor: pointer;
    transition: fill 0.3s;
    height: 20px;
    width: 20px;
  }
  .product-first-header
  {
        display: flex;
        width: 100%;
        margin: auto;
        width: 100%;
        max-width: 1900px;
        align-items: center;
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
  }
.product-first-header-tools{
    display: flex;
    gap: 20px;
}

.product-first-header-back{
    display: flex;
    gap: 20px;
    svg{
        width: 30px;
        height: 30px;
        fill: var(--color-icon-high-emphasis);
    }
    img{

        margin-right: 10px;
    }
}

