.review-container {
    display: flex;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 310px;
    flex-direction: column;
    position: absolute;
    //min-width: 310px;

  }



  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .average-rating span {
    font-size: 24px;
    font-weight: bold;
  }
  
//   form {
//     display: flex;
//     flex-direction: column;
//   }
  
  label {
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  // .button {
  //   padding: 10px 20px;
  //   background-color: #007bff;
  //   color: #fff;
  //   border: none;
  //   border-radius: 5px;
  //   cursor: pointer;
  //   margin-top: 10px;
  // }
  .review-container {
    position: fixed;
    border: none;
    top: 0;
    width: 100%;
    background-color: white; /* یا هر رنگ پس‌زمینه‌ای که نیاز دارید */
    flex:2 1;
    max-height: 170px;
  }
  .sticky-review-container {
    position: -webkit-sticky; /* برای پشتیبانی از مرورگرهای قدیمی‌تر */
    position: sticky;
    top:183px;
    background-color: white; /* یا هر رنگ پس‌زمینه‌ای که نیاز دارید */
    z-index: 9;
  }

  .review-container-button {
    border: 1px solid var(--color-button-primary);
    background-color: transparent;
    color: var(--color-button-primary);
    padding: calc(2* var(--spacing-base)) calc(4* var(--spacing-base));
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.17;
    border-radius: 8px;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  .comment-section{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }


  @media screen and (max-width: 825px) {
   
  .review-container{
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
  }
  .comment-list {
      flex: 1 1 100%;
  }
  .sticky-review-container {
    //top: 700px; /* فاصله از بالای صفحه هنگام چسبندگی */
    position: static;
  }


}

.rtl {
    transform: scaleY(-1) rotate(180deg);
    direction: ltr;
}




.comment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.comment-modal {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 12px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.comment-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 10px;
  width: 100%;
}

.comment-modal-close {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

// .comment-modal-container {
//   display: flex;
//   align-items: center;
//   text-align: left;
// }

.comment-modal-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* دو ستون با عرض مساوی */
  grid-template-rows: auto auto; /* دو ردیف */
  gap: 20px; /* فاصله بین آیتم‌ها */
}

.comment-div-item:nth-child(3) {
  grid-column: span 2; /* آیتم سوم را در هر دو ستون قرار می‌دهد */
}

.comment-modal-title {
  color: #2c2c2c;
  font-weight: 500;
  font-size: 1.1rem;
  padding-right: 10px;
}

.comment-modal-product-image {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
}

.comment-modal-product-info {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

.comment-modal-btn {
  background-color: var(--color-button-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* فاصله از محتوای بالا */
  align-self: center; /* وسط چین کردن دکمه */
  width: 100%;
}

