.shop-container {
    flex-direction: row;
    padding: 7.2rem 4rem;
    //max-width: 1800px;
    width: 100%;
    //margin: auto;
    //margin-top: 120px;
  }
 .productList-container{
  display: flex;
  flex-direction: row;
  //padding: 6.5rem 7rem;
  max-width: 1800px;
  width: 100%;
  margin:auto;
 } 
  .filters-section {
    width: 270px;
    background-color: #fff;
    //margin-top: 4rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    overflow-y: auto;
    display: block;
  }
  
  .products-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 20px;
    overflow-y: auto;
  }

  
  .products-section {
    position: relative; /* Ensure products-section is the reference for loading-overlay */
  }

  .product-grid {
    // border-right: 1px solid #e8e8e8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
  }
  
  .product-card {
    min-width: 260px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //border-left: 1px solid #e8e8e8;
    border: 1px solid #e8e8e8;
    padding: 10px;
    cursor: pointer;
    height: 100%;
    cursor: pointer;
  }
  .product-card:hover {
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .2));
    cursor: pointer;


    }
  .product-img {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .product-img img {
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
    align-items: center;
    align-content: center;
    justify-content: space-around


  }
  
  .product-info {
    width: 100%;
    padding: 10px 0;
  }
  
  .product-info h3 {
    margin: 5px 0;
    font-size: .8rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-info p {
    margin: 5px 0;
    font-size: .8rem;
  }
  
  .product-rating {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8px;
    height: 30px;
    width: 100%;
    color: var(--color-icon-rating-0-2);
    font-size: .8rem;
    font-weight: 700;
  }

  .product-rating span {
    color: #333;
    padding-left: 5px;
  }
  
  .product-rating svg {
    width: 12px;
  }
  
  @media (max-width: 1680px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 1500px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 1300px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (max-width: 1000px) {
    .filters-section {
      display: none;
    }
  }
  
